* {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:antiquewhite;
    background-color: darkcyan;
    padding: 20px;
    position: absolute;
    margin: 10px auto 0 10px;
}